.DS_Store
# ABCD Data #
#############
/ABCD_NonImaging

# Ignore large file outputs #
#############################
/phase1_outputs
/phase2_outputs

# Retain final trained model and key figures#
#############################################

#!/phase2_outputs/cvae_model_final
#!/phase2_outputs/*.pdf
